# Python
__pycache__/
*.pyc
src/desktop/venv/
data/

# Node.js
electron/node_modules/
electron/package-lock.json   
electron/.npmrc

# dist
dist/
# 可执行文件
*.exe

# ai操作内容
ai_op_logs/
.trae/

# 忽视figma文件
.figma/

# 忽视后端文件内容
backend/venv/
